/*font*/
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}


/*GENERAL*/
* {
  margin: 0;
  padding: 0px;
  background-blend-mode: multiply;
  color: white;
}

svg {
  fill: white;
  width: 24px;
  padding: 0px;
  margin: 0px;
}


input {
  color: black;
  outline: none;
}

input:focus {
  border: 1px inset var(--color-neon-yellow);
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}


::placeholder {
  font-family: 'Megrim';
  font-weight: bold;
}

:root {
  --padding-left: 1rem;
  --padding-top: 1rem;
  --main-content-colour: #070F34;
  --header-colour: #9201CB;
  --color-neon-yellow: #d1ff04;
  --color-neon-red: #FF3131;
  --color-neon-green: #39FF14;
  --transition-time: 0.25s;
  --gap-general: 20px;
}

body {
  position: relative;
  
}

.pageLayoutGrid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;

  border: 1px solid black;
}

/*HEADER*/

header {
  font-family: 'Megrim';
  font-weight: bold;

  display: grid;
  grid-template-rows: 1fr 2fr;
  padding-top: var(--padding-top);
  padding-left: calc(var(--padding-left)*2);
  padding-right: calc(var(--padding-left)*2);

  background: #9201CB;
  background: linear-gradient(360deg, rgba(146, 1, 203, 1) 20%, rgba(57, 10, 106, 1) 64%, rgba(7, 15, 52, 1) 100%);
}

.headerTop>input {
  font-family: 'Megrim';
  font-weight: bold;
  border-radius: 20px;
  height: 30px;
  padding-left: var(--padding-left);
}

.headerTop {
  display: grid;
  grid-template-columns: 30px 4fr 2fr 1fr 1fr 1fr;
  white-space: nowrap;
  align-items: center;
  gap: 10px;

}

.headerTop>div {
  justify-self: end;
  cursor: pointer;
  transition: all 0.4s;
}

.headerTop>div>p {
  transition: all 0.4s;
}

.headerTop>div>svg {
  transition: all var(--transition-time);
}

.headerTop>svg {
  cursor: pointer;
  transition: all var(--transition-time);
}

.headerTop>svg:hover {
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}

.headerTop>div:hover>:not(img) {
  font-size: large;
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}

.headerTop>div>img {
  width: 40px;
  transition: all var(--transition-time);
}

.headerTop>div>img:hover {
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}

.headerBot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: ce;
  align-items: center;
  border-bottom: 2px white solid;
}

.headerBotLeft {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-self: start;
  align-items: center;
  gap: 20px
}

.headerBotLeft>img {
  width: 60px;
}

.headerBotLeft>div {
  display: grid;
  gap: 10px;
  white-space: nowrap;
}

.headerBotLeft>div>div:nth-child(1) {
  font-size: small;
}

.headerBotLeft>div>div:nth-child(2) {
  font-size: x-large;
}

.headerBotRight {
  display: grid;
  justify-self: end;
  justify-items: end;
  grid-template-columns: repeat(3, auto);
  gap: var(--gap-general);
}

.buttonLike {
  display: grid;
  align-items: center;
  justify-items: center;

  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 2px white outset;
  background-color: #111d52;
  cursor: pointer;
}

.buttonLike:active {
  text-shadow: 2px 2px 10px #d1ff04;
  filter: drop-shadow(0px 0px 4px #d1ff04);
  border: 2px inset var(--color-neon-yellow);
}

/*DASHBOARD*/
nav {
  font-family: 'Megrim';
  font-weight: bold;

  grid-area: 1/1/-1/2;
  display: grid;
  gap: 2rem;
  padding-left: var(--padding-left);
  padding-right: var(--padding-left);
  padding-top: var(--padding-top);
  z-index: 1;
  align-content: start;

  transition: all 1s;

  background-color: rgb(10, 8, 8);
  border-right: 2px ridge #000000d0;

}

.logo {
  display: grid;
  justify-content: start;
  align-self: start;

  position: relative;

  transition: all 0.5s ease-in-out;
  text-shadow: 2px 2px 10px #d1ff0400;
}

.logoSvg {
  position: absolute;
  align-self: center;
  justify-self: start;
  width: 5em;
  fill: url(#my-cool-gradient);
  z-index: -1;
}

.dashboardLinks {
  display: grid;
  gap: 10px;
  align-self: start;

  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dashboardHelp {
  display: grid;
  gap: 10px;
  align-self: start;
}

.dashboardLinks>div,
.dashboardHelp>div {
  display: flex;
  align-items: center;
  min-height: 1.8rem;
  gap: 4px;
  transition: all var(--transition-time);
}

.dashboardLinks>div:hover>svg,
.dashboardHelp>div:hover>svg,
.logo:hover {
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}

nav:hover {
  box-shadow: 10px 6px 20px 2px #d1ff04c7;
}

h1:hover,
nav>div>div:hover {
  text-shadow: 2px 2px 10px #d1ff04;
  cursor: pointer;
}

nav>div>div:hover {
  font-size: large;
  text-decoration: underline;
}






/*MAIN*/
main {
  font-family: 'Megrim';
  font-weight: bold;
  grid-area: 2/2/-1/-1;

  background: #070F34;
  background: linear-gradient(360deg, rgba(7, 15, 52, 1) 40%, rgba(146, 1, 203, 1) 100%);

  display: grid;
  grid-template-columns: 3fr 1fr;

  padding: var(--padding-left);
}

main>:first-child{
  border-right: 2px white solid;
  
}
main>div h2{
  font-size: 2rem;
  padding-left: var(--padding-left);
}

.cardContainer{
  padding: var(--padding-left);
  display: grid;
  gap: var(--gap-general);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
  border-radius: 10px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.185);
  display: flex;
  transition: all var(--transition-time);
}
.card h3{
  font-size: 1.5rem;
  border-bottom: 2px white solid;
}

.card>div{
  padding: var(--padding-left);
  display: grid;
  gap: calc(var(--gap-general)/2);
  align-content: space-around;
  width: 100%;
  
}
.card svg{
  transition: all var(--transition-time);
}
.card svg:hover{
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #d1ff04d0);
}
.card:hover{
  box-shadow: 0px 0px 20px 4px #d1ff0485
}
.cardIcons{
  display: flex;
  justify-self: end;
  position: relative;
}
.tooltip{
  white-space: nowrap;
  visibility:hidden;
  position: absolute;
  opacity: 0;
  left: 0px;
  transition: all var(--transition-time);
}
.icon{
  transition: all var(--transition-time);
}
.icon:hover .tooltip{
  visibility: visible;
  opacity: 100%;
}
.jobComplete{
  position: relative;
}
.jobIncomplete{
  position: relative;
}

.jobComplete::before{
  content: "";
  display: inline-block;
  height: 200px;
  width: 0.5rem;
  border: 0px transparent;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--color-neon-green);
}
.jobIncomplete::before{
  content: "";
  display: inline-block;
  height: 200px;
  width: 0.5rem;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--color-neon-red);
}

/*FOOTER*/
.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}